* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	color: #999;
	background-image: url(../imgs/quarto-cadastr2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	transition: all 1s ease;
}

html {
	font-size: 62.5%;
}

.campos {
	width: 70%;
}

.logo-pax-hotel {
	width: 190px;
    height: 70px;
    object-fit: cover;
    object-position: 0 -58px;
}

.form_cadastro {
	width: 35%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.form_cadastro .voltar {
	position: relative;
	left: -50%;

	color: #000;
	font-size: 25px;
	cursor: pointer;
}

h1 {
	font-size: 3rem;
	margin-bottom: 2.5rem;
	color: #FF3131;
}

.agrupamento_cadastro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 90.4%;

	background: #FFF;
	padding: 5rem;
	border-radius: 8px;
	box-shadow: 0 7px 15px rgba(0, 0, 0, .5);
}

label {
	color: #000;
	font-weight: 400;
	font-size: 24px;
	line-height: 2px;
}

label,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="date"],
input[type="email"] {
	font-size: 1.5rem;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
	width: 300px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid #1E1E1E;
	border-radius: 8px;
}

input[type="date"] {
	width: 150px;
}

input[type="submit"] {
	color: #FFF;
	font-weight: 600;
	width: 325px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border-radius: 8px;
	background: #FF3131;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	transition: all .5s ease;
}

input[type="submit"]:hover {
	background: transparent;
	color: #FF3131;
	border: 2px solid #FFBD59;
}

.grupo-sexo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 200px;
}

.grupo-1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.grupo-2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.grupo-2 input {
	width: 150px;
}